<h1 (click)="getMyTodos()">My Todo's</h1>

<div class="alert alert-success" *ngIf="successMsg">{{successMsg}}</div>
<div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>

<div class="alert alert-success" *ngIf="todoList.length<1">
    <h4>All tasks are completed!!!</h4>
</div>

<div class="container" *ngIf="todoList.length>0">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Description</th>
                <th>Target Date</th>
                <th>isCompleted?</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of todoList">
                <td>{{data.description}}</td>
                <td>{{data.targetDate | date}}</td>
                <td>{{data.completed}}</td>
                <td><button (click)="updateTodo(data.id)" class="btn btn-success">Update Todo</button></td>
                <td><button (click)="deleteTodo(data.id)" class="btn btn-warning">Delete Todo</button></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container row">
    <button (click)="addTodo()" class="btn btn-success">Add Todo</button>
</div>
